.addgame-container {
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.addgame-container h1 {
    margin-bottom: 20px;
}

.addgame-table {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.blur-dialog .MuiBackdrop-root {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
}

.MuiDialog-paper {
    border-radius: 12px;
}

.back-button {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #333;
    text-transform: none;
}

/* Navbar */
.navbar-title {
    flex-grow: 1;
    font-weight: bold !important;
}

.navbar-back-btn {
    margin-right: 16px !important;
}

.addgame-header {
    font-weight: bold !important;
    margin-bottom: 24px !important;
}

/* filter bar container */
.filter-bar-container {
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
}

/* dilter */
.filter-input-bg {
    background-color: white;
}

.filter-box-search {
    flex: 2;
    width: 100%;
}

.filter-box-genre {
    flex: 1;
    width: 100%;
}

.filter-box-number {
    flex: 0.7;
    width: 100%;
}

.table-header-cell {
    font-weight: bold !important;
}

.game-name-link {
    text-transform: none !important;
    font-weight: bold !important;
    color: #1976d2 !important;
}

.dialog-input {
    margin-top: 8px !important;
}