.addgame-container {
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.addgame-container h1 {
    margin-bottom: 20px;
}

.addgame-table {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.blur-dialog .MuiBackdrop-root {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
  }
.MuiDialog-paper {
border-radius: 12px;
}
.back-button {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #333;
    text-transform: none;
}
