.addgame-container {
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.addgame-container h1 {
    margin-bottom: 20px;
}

.addgame-table {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


