image: node:20

stages:
  - build
  - deploy

cache:
  paths:
    - my-app/node_modules/

build:
  stage: build
  script:
    - cd my-app
    - npm install
    - npm run build
  artifacts:
    paths:
      - my-app/build/

pages:
  stage: deploy
  script:
    - cd my-app
    - npm run build
    - cp -r build public
  artifacts:
    paths:
      - public
  only:
    - main