image: node:20

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - cd my-app
    - npm install
    - npm run build
  artifacts:
    paths:
      - my-app/build

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - mv my-app/build public
  artifacts:
    paths:
      - public
  only:
    - main
